body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #eee;
}

.display {
  background: url(https://images.pexels.com/photos/3944454/pexels-photo-3944454.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}

.display .display-section {
  background-color: rgba(0, 0, 0, 0);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0, 10px, 0, 10px;
}

.display .display-section h2 {
  font: bold;
  font-size: 2.25rem;
  text-transform: capitalize;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.news-app {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.new-list {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.new-list h2 {
  color: blue;
}

.news-app .new-list ul {
  list-style: none;
  padding: 0;
}

.news-app .new-list ul li span {
  font-weight: bold;
  color: #000;
}

.form-text input {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
}

.form-text .submit-btn {
  width: 30%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0px 6px 6px 0px;
  background-color: blue;
  color: #000;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #000;
  color: #fff;
}

.nav-container {
  margin-left: 100px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  background-color: #000;
}

.comments-div {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.comments-list {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.image {
  width: 100vh;
  margin-left: 150px;
}

.comments-list h2 {
  color: blue;
}

.comments-list span {
  font-weight: bold;
  color: #000;
}

.comment-form {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
}

.comment-form input {
  width: 60%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  margin: 5px;
}

.submit-button {
  width: 30%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  background-color: blue;
  color: #000;
  font-weight: bold;
}

.show-form {
  background-color: blue;
  padding: 15px;
  border-radius: 10px;
  margin-left: 750px;
  margin-bottom: 10px;
}

.about-app-container {
  margin-left: 100px;
  padding: 50px;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.about-app-container h1 {
  color: blue;
  margin-left: 475px;
}

.about-news-image {
  width: 120vh;
  margin-left: 170px;
}
